*{
    margin: 20px;
}
li{
    color: red;
}
.modal{
    max-width: 70%;
    max-height: 70%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    overflow: auto;
}
button{
    background-color: #555;
    color: #fff;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.traffic-light{
    max-width: 200px;
    min-height: 450px;
    background-color: #555;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    div{
        border: 1px solid black;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        img{
            width: 60px;
            height: 60px;
        }
    }
    #red{
        background-color: red;
    }
    #yellow{
        background-color: yellow;
    }
    #green{
        background-color: green;
    }
}
