* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import 'fonts';

$main-color: #1C1C1C;
$text-color: #545454;
$subtitle-color: #969696;
$button-color: #007BFF;
$button-text: #fff;

.container {
	width: min(90%, 1440px);
	margin: 0 auto;
}

input{
	height: 38px;

}



.block {
	max-width: 570px;
	min-height: 590px;
	margin: 0 auto;
	box-shadow: 0 4px 16px;
	padding: 35px 35px 16px;
}

h1 {
	color: $main-color;
	font-family: 'Roboto Medium';
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 2rem;
	padding-bottom: 20px;
}

.first-last-name {
	display: flex;
	gap: 12px;
}

.name-inp label {
	padding-bottom: 7px;
	font-family: 'Roboto Regular';
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.375rem;
	letter-spacing: -0.0125rem;
	color: $text-color;
}

.name-inp input {
	font-family: 'Roboto Regular';
	margin-top: 7px;
	width: 245px;
	border-radius: 5px;
	padding-left: 10px;
	border:1px solid $text-color;

	&:focus{
		border: 2px solid $button-color;
		outline: none
	}
}


.email-info {
	display: flex;
	flex-direction: column;
	margin-top: 20px;

	label {
		color: $text-color;
		font-family: 'Roboto Regular';
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.375rem;
		letter-spacing: -0.0125rem;
	}

	input {
		padding: 7px 10px;
		justify-content: center;
		align-items: center;
		margin-top: 7px;
		border-radius: 5px;
		border: 1px solid $subtitle-color;
		&:focus{
			border:2px solid $button-color;
			outline: none;
		}
	}

	

	p {
		color: $text-color;
		margin-top: 7px;
		font-family: 'Roboto Regular';
		font-size: 0.8125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.125rem;
		letter-spacing: -0.00625rem;
	}
}

.gender {
	margin-top: 20px;

	label {
		color: $text-color;
		font-family: 'Roboto Regular';
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.375rem;
		letter-spacing: -0.0125rem;
	}

	input[type=radio] {
		width: 20px;
		height: 20px;
		position: relative;
		appearance: none;
		&::before{
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			left: 0;
			border:1px solid #545454;
		}
		&:checked::after{
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			position: absolute;
			left: -1px;
			border: 5px solid $button-color;
		}
	}
}

.location-info {
	display: flex;
	gap: 10px;

	.location label {
		display: flex;
		width: 15.3125rem;
		height: 4.1875rem;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 0.4375rem;
		flex-shrink: 0;
		font-family: 'Roboto Regular';
		color: $text-color;
	}

	select,
	input {
		display: flex;
		width: 245px;
		height: 38px;
		border-radius: 5px;
		color: $text-color;
		font-family: 'Inter Regular';
		padding-left: 10px;
		border:1px solid #545454;
		&:focus{
		border: 2px solid $button-color;
		outline: none
	}
	}

	.location select option {
		color: $text-color;
		font-family: 'Inter Regular';
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.375rem;
		letter-spacing: -0.0125rem;
		&:focus{
		border: 2px solid $button-color;
		outline: none
	}
	}

	select {
		appearance: none;
		background: url('../images/Arrow.svg') right 20px top 10px no-repeat;
	}
}

.button a {
	display: flex;
	background-color: $button-color;
	width: 500px;
	height: 38px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	color: $button-text;
	font-family: 'Roboto Medium';
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.375rem;
	letter-spacing: -0.00625rem;
	text-decoration: none;
	border-radius: 5px;
	margin: 28px 0 20px;
}

h2 {
	color: $subtitle-color;
	margin-top: 22px;
	text-align: center;
	font-family: 'Roboto Regular';
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
	letter-spacing: -0.00625rem;
	padding: 0 20px;
	width: 410px;
	margin: auto;

	a {
		color: $button-color;
		text-align: center;
		font-family: 'Inter Regular';
		font-size: 0.8125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.125rem;
		letter-spacing: -0.00625rem;
		text-decoration: none;
	}
}

hr {
	margin: 20px auto;
}

.have-an-account {
	margin: 0 auto;
	align-items: center;
	width: 190px;

	p {
		display: inline-flex;
 		font-family: 'Roboto Regular';
		gap: 20px;
		text-align: center;
		align-items: center;
	}

	p:first-child{
		color: $text-color;
	}

	a .login{
		color: $button-color;
		font-family: 'Inter Regular';
	}

}