*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

$background-color: #39C;
$background-border: #2B81AC;
$text-color:#FFF;
$blue: #3CC;
$violet: #969;
$red: #C24747;
$orange:#E2674A;
$yellow:#FC6;
$light-green:#9C9;
$mint:#699;
$pink:#C69;
$green:#396;
$dark-violet:#669;
$white:#fff;

body{
    background-color: $background-color;
    border: 25px solid $background-border;
}

.city-weather{
    width: min(90%, 1170px);
    margin: 0 auto;
    padding: 2px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: $white;
    padding: 2px;
    
    li{
        padding: 2px;
        list-style: none;
        a{
        text-decoration: none;
    }
    }
    
}

ul:hover li:not(:hover) {
    opacity: .7;
}

.flex-item:nth-child(1){
    width: 50%;
    background-color: $background-color;
}

.flex-item:nth-child(2){
    background-color: $blue;
}

.flex-item:nth-child(3){
    background-color: $violet;
}

.flex-item:nth-child(4){
    background-color: $red;
}

.flex-item:nth-child(5){
    background-color: $orange;
}

.flex-item:nth-child(6){
    background-color: $yellow;
}

.flex-item:nth-child(7){
    background-color: $light-green;
}

.flex-item:nth-child(8){
    background-color: $mint;
}

.flex-item:nth-child(9){
    background-color: $pink;
    width: 50%;
}

.flex-item:nth-child(10){
    background-color: $green;
}

.flex-item:nth-child(11){
    background-color: $dark-violet;
    width: 100%;  
}

.flex-item{
    border: 2px solid $white;
    width: 25%;
    height: 147px;
}

.city{
    margin: 26px auto 92px;
    text-align: center;
    color: $text-color;
}

h1{
    color: $text-color;
    font-family: "Lucida Sans Unicode";
    font-size: 1.31rem;
    font-weight: 400;
    margin: 66.1px 0 40px 0;
}
p{
    position: relative;
    text-align: center;
    bottom: 80px;
    color: $text-color;
    font-family: "Lucida Sans Unicode";
    font-size: 1.375;
    font-weight: 400;
}

i{
    color: $text-color;
    font-family: "Weather Icons";
    font-size: 2.625rem;
    font-weight: 400;
}

.last-p{
    text-align: left;
    top: 10px;
    font-family: "Lucida Sans Unicode";
    font-size: 1rem;
    font-weight: 400;
    margin: 37px 0 119px 0;
}