$text-color: #000;
$paragraph-color: #7B7B7B;
$sec-paragraph-color: #565656;

@import 'fonts';

*,
*::before,
*::after {
	padding: 0;
	outline: 1px solid red;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a,
button {
	transition: all .2s ease;
}

button {
	cursor: pointer;
}

img {
	vertical-align: top;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	width: min(90%, 1200px);
	margin: 0 auto;
}

body {
	font-size: 1rem;
	color: $text-color;
	font-family: sans-serif;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	main {
		flex-grow: 1;
	}
}

.header-container {
	width: min(90%, 1200px);
	margin: 0 auto;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	svg {
		width: 142px;
	}
}

nav ul {
	display: flex;
	width: 500px;
	height: 18px;
	gap: 42px;
	text-transform: uppercase;
	font-family: 'Lato-Regular';
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.2625rem;

	li:hover {
		text-decoration: underline;
	}

	a {
		text-decoration: none;
		color: $text-color;
	}
}

.search svg {
	margin-left: 70px;
	width: 17px;
	height: 16px;
}

.hamburger {
	button {
		display: none;
		width: 40px;
		height: 40px;
		border: none;
		background-color: transparent;
		position: relative;

		&::before,
		&::after {
			content: '';
		}

		&::before,
		&::after,
		span {
			display: inline-block;
			height: 3px;
			width: 30px;
			border-radius: 2px;
			background-color: #333;
			position: absolute;
			left: 3px
		}

		span {
			top: 7px;
		}

		&::before {
			top: 50%;
			transform: translateY(-50%);
		}

		&::after {
			bottom: 7px;
		}

		&.close {
			span {
				display: none;
			}

			&::before {
				top: 15px;
				rotate: 45deg;
			}

			&::after {
				top: 15px;
				rotate: -45deg;
			}
		}
	}
}

.hero {
	width: 100%;
	margin-bottom: 90px;

	img {
		position: relative;
	}

	span {
		color: $text-color;
		height: 120px;
		position: absolute;
		left: 135px;
		top: 200px;
		font-family: 'RedHatDisplay-SemiBold';
		font-size: 3rem;
		font-weight: 600;
		line-height: 4rem;
		letter-spacing: 0.15rem;
	}
}

h2 {
	width: 100%;
	height: 120px;
	color: $text-color;
	font-family: "RedHatDisplay-Regular";
	font-size: 48px;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 2.4px;
}

.main-section {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 50px;

	img {
		width: 48%;
		max-height: 470px;
	}
}

.main-section-inside {
	margin: auto auto auto 0;

	.title {
		width: 250px;
		height: 20px;
		color: $paragraph-color;
		font-family: 'Lato-Regular';
		font-size: 1rem;
		letter-spacing: 0.05rem;
		margin-bottom: 30px;
	}

	h4 {
		margin-bottom: 15px;

		a {
			color: $text-color;
			font-family: "RedHatDisplay-Regular";
			font-size: 23px;
			font-weight: 500;
			line-height: 166%;
			letter-spacing: 2.3px;
			text-decoration: none;
			margin-bottom: 15px;
		}
	}

	time {
		color: $paragraph-color;
		font-family: 'Lato-Regular';
		font-size: 1rem;
		letter-spacing: 0.05rem;
	}

	.paragraph {
		margin-top: 50px;
		color: $sec-paragraph-color;
		font-family: 'Lato-Regular';
		font-size: 1rem;
		letter-spacing: 0.05rem;
		max-width: 448px;
	}
}

.main-section.flex-end-version {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin-bottom: 90px;
}

.latest {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	justify-content: space-between;

	h3 {
		color: $text-color;
		font-family: "RedHatDisplay-Regular";
		font-size: 28px;
		font-weight: 600;
		line-height: 166%;
		letter-spacing: 2.8px;
	}

	p a {
		text-decoration: none;
		color: var(--Grey-500, #7B7B7B);
		font-family: 'Lato-Regular';
		font-size: 1rem;
		letter-spacing: 0.05rem;
	}

}

.latest-zone ul {
	display: flex;
	gap: 45px;
	margin-bottom: 90px;

	li img {
		width: 100%;
		height: 188px;
		margin-bottom: 25px;
		object-fit: cover;
		object-position: center;
	}

	li .li-group span {
		color: var(--Grey-500, #7B7B7B);
		font-family: 'Lato-Regular';
		font-size: 0.75rem;
		letter-spacing: 0.075rem;

		&.topic {
			float: left;

		}

		&.time {
			float: right;
		}
	}

	.li-group h4 {
		margin: 25px 0 20px;

		a {
			text-decoration: none;
			color: $text-color;
			font-family: 'RedHatDisplay-Medium';
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 166%;
			letter-spacing: 0.15rem;
		}
	}

	.li-group p {
		color: $paragraph-color;
		font-family: 'Lato-Regular';
		font-size: 1rem;
		letter-spacing: 0.05rem;
	}
}

.latest-second {
	h3 {
		width: 266px;
	}
}

.most-popular ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-bottom: 50px;

	li img {
		width: 100%;
		height: 260px;
		margin-bottom: 20px;
	}

	li span {
		color: $paragraph-color;
		font-family: 'Lato-Regular';
		font-size: 0.75rem;
		font-weight: 400;
		line-height: 166%;
		letter-spacing: 0.075rem;

		&.topic {
			float: left;

		}

		&.time {
			float: right;
		}
	}

	h4 {
		margin: 25px 0 20px;

		a {
			text-decoration: none;
			color: $text-color;
			font-family: 'RedHatDisplay-Medium';
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 166%;
			letter-spacing: 0.15rem;
		}
	}

	p {
		color: $sec-paragraph-color;
		font-family: 'Lato-Regular';
		font-size: 1rem;
		letter-spacing: 0.05rem;
	}
}

.btn {
	color: #fff;
	font-family: 'Lato-Regular';
	font-size: 1rem;
	letter-spacing: 0.05rem;
	text-decoration: none;

	.load-more {
		width: 180px;
		height: 46px;
		background-color: $sec-paragraph-color;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto auto 90px;
	}
}

.info-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'RedHatDisplay-Regular';
	margin-bottom: 90px;

	.info {
		width: 470px;
		font-family: 'RedHatDisplay-Regular';

		a {
			text-decoration: none;
			color: $text-color;
		}
	}

	.info-left {
		color: $text-color;
		font-size: 1.4375rem;
		letter-spacing: 0.14375rem;
	}

	.info-right {
		color: $sec-paragraph-color;
		font-size: 1.1875rem;
		line-height: 2rem;
		letter-spacing: 0.05938rem;
	}
}

footer {
	background-color: #F4F4F4;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h5 {
			color: $text-color;
			font-family: 'RedHatDisplay-Regular';
			font-size: 2rem;
			font-weight: 400;
			line-height: 4rem;
			letter-spacing: 0.15rem;
			margin-top: 70px;
			margin-bottom: 30px;
		}

		p {
			color: $text-color;
			font-family: 'Lato-Regular';
			font-size: 1rem;
			line-height: 166%;
			letter-spacing: 0.1rem;

			a {
				text-decoration: none;
				color: $text-color;

			}
		}

		.footer-nav ul {
			display: flex;

			li svg {
				border: 1px solid #565656;
				width: 3.125rem;
				height: 3.125rem;
				padding: 0.625rem;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: #F4F4F4;
				margin: 0 11px;
				transition: all 0.3s ease;

				&:hover {
					filter: invert(1);
					color: #fff;
				}

			}


		}


	}

}

.container-last {
	display: flex;
	text-align: center;

	.copyright {
		display: inline-block;
		color: $text-color;
		font-family: 'Lato-Regular';
		font-size: 0.75rem;
		letter-spacing: 0.075rem;
		margin: 26px auto 75px;
		text-align: center;


	}
}

.overlay {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100dvh;
	background-color: rgba(0, 0, 0, .7);
	z-index: 100;

	&.open {
		visibility: visible;
		opacity: 1;
		transition: all 0.5s ease;
	}
}

.mobile-menu-panel {
	transition: all .5s ease;
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100dvh;
	background-color: #fff;
	z-index: 101;
	transform: translateX(-100%);

	&.open {
		transform: translateX(0);
	}

	.mm-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
	}
}

.mobile-menu {
	ul {
		display: flex;
		flex-direction: column;
		width: 30vw;
		margin-left: 10px;

		a {
			display: inline-block;
			width: 100%;
			height: 40px;
			line-height: 40px;
			font-size: 1.5rem;
			text-decoration: none;
		}
	}

}


@media screen and (max-width: 768px) and (min-width: 321px) {

	header .header-container {
		width: 100%;
		justify-content: space-around;
	}

	header .header-container nav {
		display: none;
	}

	.hamburger {
		button {
			display: block;
		}
	}

	main .hero {
		img {
			max-width: 768px;
			max-height: 320px;
			margin-bottom: -35px;
		}

		span {
			width: auto;
			height: auto;
			font-family: 'RedHatDisplay-Medium';
			font-size: 4.25vw;
			line-height: 2rem;
			font-weight: 600;
			top: 124px;
			left: 34px;
		}
	}

	.container {
		width: 90%;

		h2 {
			width: 100%;
			font-family: 'RedHatDisplay-Regular';
			font-size: 5.25vw;
			margin-bottom: -20px;
		}

		.main-section {
			display: flex;
			gap: 20px;

			img {
				width: 48%;
				height: auto;
				object-fit: cover;
			}

			.main-section-inside {
				height: 280px;
				box-sizing: border-box;

				h4 a {

					font-size: 3.25vw;
				}

				time {
					font-size: 2.25vw;
				}

				p {
					font-size: 2.25vw;
					width: auto;
				}

			}

			flex-end-version img {
				object-fit: cover;
			}
		}

		.latest {
			width: 100%;
			justify-content: space-between;

			h3 {
				font-size: 3vw;
			}

			p {
				float: right;

				a {
					display: contents;
				}
			}
		}

		.latest-zone ul {
			flex-direction: column;


			li {
				display: flex;
				gap: 10px;

				&:nth-child(2) {
					flex-direction: row-reverse;
				}

				img {
					width: 48%;
				}

				.li-group span,
				p {
					font-size: 2vw;
				}

				.li-group h4 a {
					font-size: 4vw;
				}
			}
		}

		.most-popular {
			gap: 20px;

			ul li {
				img {
					max-height: 160px;
					max-width: 320px;
					object-fit: cover;
					width: 100%;

					.topic {
						font-size: 2vw;
					}

					.time {
						font-size: 1.5vw;
					}
				}
			}

		}

		.info-section {
			display: inline;

			.info-left {
				width: auto;
			}

			.info-right {
				width: auto;
				text-align: right;
				margin-bottom: 50px;
				background-color: #fff;
			}
		}
	}




	footer {

		.container {
			display: flex;
			flex-direction: column;

			.footer-qote {
				font-family: 'RedHatDisplay-Medium';

				h5 {
					text-align: center;
					margin: 50px auto 20px;
				}

				.tel {
					margin: 0 auto 15px;
					text-align: center;
				}

				.mail {
					text-align: center;
					margin: 0 auto 40px;
				}
			}

			.footer-nav ul {
				margin-left: 0;
			}
		}


	}
}

@media screen and (max-width: 320px) and (min-width: 120px) {
	header .header-container {
		width: 100%;
		justify-content: space-around;
	}

	header .header-container nav {
		display: none;
	}

	.hamburger {
		button {
			display: block;
		}
	}

	main .hero {
		img {
			width: 100%;
			max-height: 320px;
		}

		span {
			width: auto;
			height: auto;
			font-size: 4.25vw;
			line-height: 2rem;
			top: 124px;
			left: 34px;
		}
	}

	.container {
		width: 90%;

		h2 {
			text-align: center;
			width: 100%;
			font-family: 'RedHatDisplay-Regular';
			font-size: 20vw;
			font-weight: 400;
			line-height: 4rem;
			letter-spacing: 0.15rem;
		}

		.main-section {
			display: flex;
			flex-direction: column-reverse;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				margin-bottom: 0;
			}

			.main-section-inside {
				height: 280px;
				box-sizing: border-box;

				h4 a {
					font-size: 3.25vw;
				}

				time {
					font-size: 2.25vw;
				}

				p {
					font-size: 4.25vw;
					width: auto;
				}

			}

			flex-end-version img {
				object-fit: cover;
			}
		}

		.latest {
			width: 100%;
			justify-content: space-between;
			display: block;

			h3 {
				font-size: 6vw;
			}

			p {
				float: left;

				a {
					margin-left: 0;
					font-size: 0.8rem;
				}
			}
		}

		.latest-zone ul {
			display: flex;
			flex-direction: column;

			li img {
				width: 90vw;
			}
		}

		.latest-second {
			display: block;

			p {
				float: left;
			}
		}

		.most-popular {
			gap: 20px;

			ul {
				flex-direction: column;

				li {
					img {
						max-height: 160px;
						max-width: 320px;
						object-fit: cover;
						width: 100%;

						.topic {
							font-size: 2vw;
						}

						.time {
							font-size: 1.5vw;
						}
					}
				}
			}
		}

		.info-section {
			display: inline;

			.info-left {
				width: auto;
			}

			.info-right {
				width: auto;
				text-align: left;
				margin-bottom: 50px;
			}
		}
	}

	footer {

		.container {
			display: flex;
			flex-direction: column;

			.footer-qote {
				font-family: 'RedHatDisplay-Medium';

				h5 {
					font-size: 2rem;
					text-align: center;
					margin: 50px auto 20px;
				}

				.tel {
					margin: 0 auto 15px;
					text-align: center;
				}

				.mail {
					text-align: center;
					margin: 0 auto 40px;
				}
			}

			.footer-nav ul {
				font-size: 1rem;
				margin-left: 0;
				padding-right: 0;
			}
		}
	}
}