* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$text-color: #2f281e;
$primary-color: #ff9900;
$secondary-color: #D80B0A;
$secondary-color-light: #f03e3d;
$paragraphs-color: #544837;

ul {
    list-style: none;
}

img {
    vertical-align: top;
    left: 75px;
    top: -1px;
}

a,
button {
    transition: all .2s ease-in-out;
    color: #fff;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    color: $text-color;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.container {
    width: min(90%, 1230px);
    margin: 0 auto;
}

.button-group {
    display: flex;
    gap: 32px;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: #fff;

    &:hover {
        background-color: $secondary-color-light;
        border-color: $secondary-color-light;
    }

    &:active {
        background-color: $secondary-color;
        border-color: $secondary-color;
    }

    &.btn-secondary {
        color: $text-color;
        background-color: transparent;
        border: 1px solid $text-color;

        &:hover {
            color: $secondary-color-light;
            border-color: $secondary-color-light;

        }

        &:active {
            color: $secondary-color;
            border-color: $secondary-color;
        }
    }

}

header {
    padding: 17px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
}

.main-menu {
    display: flex;
    gap: 40px;

    a {
        text-decoration: none;
        color: $text-color;
        font-weight: 400;
        line-height: 1.75rem;
        font-size: 1.125rem;


        &:hover {
            color: $primary-color;
        }

        &:active {
            color: $secondary-color;
        }
    }
}


.body-container {
    margin: 90px auto;
    width: min(90%, 1230px);
    display: flex;
    gap: 60px;
}

.hero-section {
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;

    h1 {
        font-weight: 700;
        line-height: 54px;
        font-size: 2.75rem;
        width: 500px;
        margin: 110px 0 20px;
        color: $text-color;
    }

    p {
        color: $paragraphs-color;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .start-btn {
        cursor: pointer;
        width: 180px;
        height: 50px;
        text-align: center;
    }

    img {
        position: relative;
        // right: 220px;
        // top: 20px;
    }

}

.features {
    width: min(90%, 1230px);
    margin: 0 auto;

    h2 {
        width: 539px;
        line-height: 43px;
        color: $text-color;
        margin: auto;
        text-align: center;
        font-family: Montserrat;
        font-size: 2.25rem;
        font-weight: 700;
    }

    .background-image {
        background-image: url(../images/bg.svg);
        background-repeat: no-repeat;
        background-size: contain;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .card li {
            display: inline-block;
            flex-direction: column;
            width: 20%;
            margin-right: 50px;

            img {
                margin-top: 50px;
            }

            h3 {
                margin: 30px 0 16px;
            }

            p {
                margin-bottom: 70px;
            }
        }
    }
}

.btn-features {
    margin: auto;
    margin-bottom: 70px;

}

footer {
    width: min(90%, 1230px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .footer-item {
            font-size: 1.25rem;
            font-family: Gotham;
            color: $text-color;
            font-weight: 700;
            line-height: 150%;

            ul li a {
                color: $paragraphs-color;
                font-family: Montserrat;
                font-size: 1rem;
                font-weight: 500;
                line-height: 162.5%;
            }
        }
    }
}

.footer-ul li:nth-child(1) {
    margin-top: 15px;
}

.footer-ul li {
    margin-bottom: 10px;
}

.footer-item:last-child {
    justify-content: space-between;
}

.footer-p {
    color: $text-color;
    width: 250px;
    font-family: Gotham;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 15px;
}

input {
    display: flex;
    width: 340px;
    height: 50px;
    padding: 0px 10px;
    align-items: center;
}

.btn-footer {
    margin-top: 15px;
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}